.idea
out/
java-fuctional-progs.iml
src/com/company/Docs.txt
src/com/company/MultiThreading/_Premier.java
src/com/company/MultiThreading/_Second.java
src/com/company/MultiThreading/_Trois.java
src/com/company/MultiThreading/Test.java